<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="ConString" connectionString="Data Source=ANUTA;Initial Catalog=sbyt;Integrated Security=True"/>
  </connectionStrings>
  <!--<appSettings>
    <add key="ConnectionString" value="Data Source=ANUTA;Initial Catalog=sbyt;Integrated Security=True" />
  </appSettings>-->

</configuration>